.Calendar #Month{
  width:100%;
  height: 100%;
  font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
}
#Month td {
  font-size: large;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#Month th {
  border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

#monthSelect {
  background-position: center;
  	font-size:15px;
}
#Year {
  text-align: center;
  float:center;
}
#ddl {
  text-align:center;float:center;
}
#monthSwitch {
  vertical-align: middle;
    display:table-cell;
    text-align:center;
    float: center;
}

#leftData {
  text-align:left;float:left;
}
/* http://css3buttongenerator.com/ */
#viewSelector {
  text-align:right;float:right;
}

#viewSelector button {
  background: #d934a7;
  background-image: -webkit-linear-gradient(top, #d934a7, #d934a7);
  background-image: -moz-linear-gradient(top, #d934a7, #d934a7);
  background-image: -ms-linear-gradient(top, #d934a7, #d934a7);
  background-image: -o-linear-gradient(top, #d934a7, #d934a7);
  background-image: linear-gradient(to bottom, #d934a7, #d934a7);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
}

#viewSelector button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#Year button {
  width: 300px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 35px 20px 35px;
  text-decoration: none;
}

#Year button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
